<form class="container my-3">
    <div class="form-group mb-3">
        <label for="senderName" class="form-label">Name</label>
        <input
            type="text"
            id="senderName"
            class="form-control"
            name="senderName"
            formControlName="senderName"
        />
    </div>
    <div class="form-group mb-3">
        <label
            for="senderEmail"
            class="form-label"
            name="senderEmail"
            formControlName="senderEmail"
            >Email</label
        >
        <input type="text" id="senderEmail" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="senderMessage" class="form-label">Message</label>
        <textarea
            id="senderMessage"
            class="form-control"
            name="senderMessage"
            formControlName="senderMessage"
        ></textarea>
    </div>
    <div>
        <button
            type="submit"
            class="btn btn-primary"
            (click)="$event.preventDefault(); submitForm()"
        >
            Send
        </button>
    </div>
</form>
