<div class="container">
  <form>
    <input type="text" class="form-control">
    <button class="btn-block btn-primary">Submit</button>
  </form>
  
  <div *ngIf="items.length === 0; else showItems">No wish items.</div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label for="" class="form-check-label">
            <input 
              type="checkbox" 
              class="checkbox" 
              [checked]="item.isComplete"
              [attr.data-id]="ii"
              (click)="toggleItem(item)"
            />
            {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
